{% extends 'master.html' %}
{% block body %} 
<h4>{{username}}</h4>
<ul>
{% for post in the_posts %}

    <li>{{ post[0]}}: {{post[1] }}</li>

{% endfor %}
</ul>

{% if session.get("username") %}

<!-- form whose method is post
two input elements - textarea, submit button -->

<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Wall</label>
    <textarea type="textarea" class="form-control" id="exampleText" placeholder="Write wall post"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endif %}

{% endblock %}